.panel.panel-default
  .panel-heading
    .panel-title
      %strong
        @#{@account.user.screen_name} 
      = @account.is_national ? "national" : "regional"
      tweet settings
  .panel-body
    = form_for(@account) do |f|
      .row
        .col-xs-6
          .form-group
            = f.label :address
            = f.text_field :address, class: "form-control"
        / .col-xs-6
        /   .form-group
        /     = f.label :language
        /     = f.text_field :language, @account.language, class: "form-control"
      .row
        .col-xs-6
          .form-group
            %label{for: 'latitude'}
              Latitude
            = f.text_field :latitude, class: "form-control", disabled: !current_user.is_admin
        .col-xs-6
          .form-group
            %label{for: 'longitude'}
              Longitude
            = f.text_field :longitude, class: "form-control", disabled: !current_user.is_admin

      .form-group
        = f.label :append_block, "Additional content to add to tweets"
        = f.text_field :append_block, class: "form-control", placeholder: "A tag, a note, an emoji..."
      .row
        .col-xs-6
          .checkbox
            %label
              = f.check_box :is_active
              Account is active
              %small
                if un-checked, this account will not send out tweets
        - if @account.is_national
          .col-xs-6
            .checkbox.disabled
              %label
                = f.check_box :is_national, {disabled: true}
                Account is national
      .form-group
        = f.submit "Submit", class: 'btn btn-primary'

.tweets.row
  - @account.tweets.order('created_at desc').limit(100).each do |tweet|
    .col-sm-6
      .panel.panel-default
        .panel-body
          - if @account.account_info_image
            = image_tag @account.account_info_image, class: 'pull-left'
          %p.center-text
            %a{ href: "https://twitter.com/#{@account.screen_name}/status/#{tweet.twitter_tweet_id}" }
              = tweet.tweet_string
            %br
            %span.less-strong
              = l tweet.created_at, format: :hour

