!!!
%html
  %head
    %title
      Stolen Tweetor
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: "button", data: {toggle: "collapse", target: "#headernav"}}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: root_url}
            Stolen Tweetor
        .collapse.navbar-collapse#headernav
          - if current_user.present?
            %p.navbar-text.navbar-right
              Signed in as
              = link_to current_user.screenname, account_index_url, class: "navbar-link"
              \|
              %small
                = link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-link"
                
          - else
            .navbar-text.navbar-right
              = link_to "Sign in", user_omniauth_authorize_path(:twitter), class: 'navbar-link'
            = link_to "Connect Twitter account", user_omniauth_authorize_path(:twitter), class: 'btn btn-default navbar-btn navbar-right'
    
    .container-fluid
      = render partial: "layouts/flash_messages", flash: flash
      = yield
